<div class="pull-right">
    <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div>
<br>
<br>
<%= search_form_for @q do |job|%>
  <p>
      <%= job.search_field :title_cont,:placeholder => "职位名",:class => "form-control" %></p>
  <p><%= job.search_field :contact_email_cont,:placeholder => "联系方式",:class => "form-control" %></p>
  <p class="text-right">
    <%= submit_tag "送出筛选",:class => "btn btn-default" %>
  </p>
<% end %>
<table class="table table-boldered">
    <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= link_to("Edit", edit_job_path(job)) %> |
                <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
    <% end %>
</table>
