<div class="col-md-12">
    <div class="job">
        <%= link_to("Add a job", new_admin_job_path, class: "btn btn-primary pull-right") %>
    </div>
    <br>
    <br>
    <%= form_tag bulk_update_admin_jobs_path,:class => 'form-inline' do%>
    <table class="table table-hover">
      <tr>
          <th><%= check_box_tag "全选","1",false, :id =>"toggle_all" %></th>
        <th>职位名称</th>
        <th>操作</th>　
        <th>更新时间</th>
      </tr>
        <% @jobs.each do |job| %>
            <tr>
              <td>
                 <%= check_box_tag "ids[]", job.id %>
              </td>

                <td>
                    <%= render_job_status(job) %>
                    <%= link_to(job.title, admin_job_path(job)) %>
                </td>
                <td>
                    <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-sm btn-default")%>
                    <%= link_to("Delete", admin_job_path(job),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
                </td>
                <td><%= job.updated_at %></td>
            </tr>
        <% end %>
    </table>
    <p>
      <%= select_tag :job_status, options_for_select(Job::STATUS), :class => "form-control" %>
      <%= submit_tag t(:bulk_update), :class => "btn btn-primary"  %>
      <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %>
    </p>
  <% end %>
</div>


  <script>
    // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
    $("#toggle_all").click(function(){
      if ( $(this).prop("checked") ) {
        $("input[name='ids[]']").prop("checked", true);
      } else {
        $("input[name='ids[]']").prop("checked", false);
      }
    })
  </script>
